header {
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 0 30px;
    font-size: 20px;
}

header>ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

header>ul>li>a {
    color: rgb(197, 197, 197);
    text-decoration: none;
}

.section-one {
    color: white;
    padding: 30px 30px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.section-one-left {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
}

.section-one-left>h1 {
    margin: 0;
}

.section-one-left>button {
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.section-one-left>button:hover {
    cursor: pointer;
}

.section-one-right {
    /* Give the parent container for the image a height, so that the image can dynamically resize based on screen size*/
    width: 400px;
}

.section-one-right>img {
    /* making the image flex because otherwise the container holding img will be slightly
    larger than the image itself causing spacing issues. */
    display: flex;
    flex-wrap: wrap;

    height: auto;
    width: 100%;
    min-width: 300px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px;
    gap: 40px;
}

.section-two>h2 {
    font-size: 30px;
    margin: 0;
}

.section-two-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
}

.card>img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card>p {
    color: rgb(83, 83, 83);
    font-size: 18px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    font-size: 30px;
}

.section-three-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.quote {
    align-self: center;
    margin: 0;
}

.quote-signature {
    align-self: flex-end;
    margin: 0;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four-inner {
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 80px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(40, 120, 211);
    flex-wrap: wrap;
}

.section-four-inner-text>h3 {
    margin: 0;
    Font-size: 30px;
}

.section-four-inner-text>p {
    margin: 0;
    font-size: 18px;
    color: rgb(207, 207, 207);
}

.section-four-inner-button {
    color: white;
    padding: 10px 30px;
    background-color: rgb(40, 120, 211);
    border: solid 2px white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}

.section-four-inner-button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}